/* Mobile Styles */

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a base font size and line height */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #bbb;
  line-height: 1.5;
  background-color: #333; /* Dark grey background color */
}

/* Add some spacing and center content */
.top-container {
  padding: 20px;
  text-align: center;
}

.main-container {
  padding: 20px;
  text-align: left;
}

/* Style headings */
h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Style paragraphs */
p {
  margin-bottom: 20px;
}

ol {
  padding-left: 40px; /* Adjust the padding as needed */
}
ul {
  padding-left: 40px; /* Adjust the padding as needed */
}

/* Style buttons */
button {
  display: inline-block;
  padding: 5px 50px;
  background-color: #56a7b1;
  color: #333;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  font-size: 20px;
}

button:hover {
  background-color: #f45c06;
}

/* Tablet and Desktop Styles */

@media (min-width: 768px) {
  /* Increase font size for larger screens */
  body {
    font-size: 18px;
  }

  /* Increase container width and center align */
  .main-container {
    width: 80%;
    margin: 0 auto;
  }
}

/* Larger Desktop Styles */

@media (min-width: 1200px) {
  /* Increase font size for larger screens */
  body {
    font-size: 20px;
  }

  /* Adjust container width */
  .main-container {
    width: 60%;
  }
}

.dancing-image {
    position: relative;
    animation: none;
}
.dancing-image:hover {
    animation: dance 1s infinite;
}

@keyframes dance {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}


.error-container {
  background-color: rgba(255, 221, 221, 0.5);
  border: 1px solid #ff0000; /* Red border */
  border-radius: 4px; /* Rounded corners */
  color: rgba(255, 255, 255, 1.0);
  padding: 10px; /* Padding around the error message */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
}

/* Login elements */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-button {
  width: 30%;
  margin: 0 auto;
}

pre {
  /* height: 100px; */
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

/* pre { */
/*     overflow-x: hidden; */
/*     overflow-y: auto; */
/* } */


a:link {
  color: #56a7b1;
}

a:visited {
  color: #e9a9f5;
}
