<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>~ Moshi ~</title>
    <link rel="stylesheet" href="/style.css">
    <style>
      #nerd-stuff {
        display: none;
      }
    </style>
</head>
<body>

  <div class="top-container">
    <h1>Moshi</h1>
    <p>Moshi is a language speaking tutor.</p>
    <img src="/favicon.ico" alt="Moshi" style="width: 32px;" id="moshiIcon" class="dancing-image">
  </div>

  <div class="main-container">
    <h2>Instructions</h2>
    <ol>
      <li>Click the Start button</li>
      <li>Wait for the Status to progress from "Ready." to "Listening..."</li>
      <li>Start speaking in the language you'd like to learn</li>
    </ol>
    <br>
    <p>
      For example, when you see "Listening...", say: "Hola, mi nombre es Jeff".<br>
      Then, wait for Moshi to respond - and continue your conversation!
    </p>

    <div id="start-stop-buttons" style="display: flex; justify-content: center;">
      <p>
        <button id="start" onclick="start()">Start</button>
        <button id="stop" style="display: none" onclick="stop()">Stop</button>
      </p>
    </div>

    <h2>Status</h2>
    <p>
      <pre id="status-channel" style="height: 65px;"></pre>
    </p>

    <h2>Transcript</h2>
    <p>
      <pre id="transcript-channel" style="height: 200px;"></pre>
    </p>

    <h2>Audio status</h2>
    <p>
      <audio id="audio" autoplay controls></audio>
    </p>
    <hr>

    <br>
    <p>
      Moshi version: <tt>{{ version }}</tt>
      <br>
      © 2023 Eric Kalosa-Kenyon. All rights reserved.
    </p>
    <hr>

    <br>
    <h2>Troubleshooting</h2>
    <ul>
      <li>Your microphone must be enabled for Moshi to hear you.<br>
      Press "Allow" when your web browser asks for permission.</li>
      <li>The AI can have trouble sometimes speaking some languages.
      If it doesn't recognize your language, try up to 5 times.</li>
      <li>If something breaks, try restarting the session by clicking Stop, then Restart.</li>
      <li>If it stays broken after restarting the session, try refreshing the page.</li>
      <li>If it stays broken after refreshing the page, send feedback including as many details as you can.</li>
    </ul>

    <br>
    <h2>Feedback</h2>
    <p>
      Something broken? Have a great idea? Please email: <tt>moshi.feedback@gmail.com</tt>
    </p>

    <p>
      <button id="showNerdStuff">Show diagnostics</button>
    </p>

    <div id="nerd-stuff">
    <h2>Diagnostics</h2>
    <p>
    The following sections are exposed in this alpha release so I can help you if, for example, your audio doesn't work.
    </p>

    <h3>Ping-pong</h3>
    <p>
    The following text shows your ping, which tells you the speed of your connection over the Internet to the Moshi server.
    It won't show anything until you've started streaming by clicking the Start button.
    </p>
    <pre id="ping-pong-channel" style="height: 200px;"></pre>

    <div id="toggle-options" hidden>
      <h3>WebRTC Connection Options</h3>
      <p>
        Don't mess with these unless you know what you're doing.
      </p>
      <p>
        <div class="option">
            <input id="use-datachannel" checked="checked" type="checkbox"/>
            <label for="use-datachannel">Use datachannel</label>
            <select id="datachannel-parameters">
                <option value='{"ordered": true}'>Ordered, reliable</option>
                <option value='{"ordered": false, "maxRetransmits": 0}'>Unordered, no retransmissions</option>
                <option value='{"ordered": false, "maxPacketLifetime": 500}'>Unordered, 500ms lifetime</option>
            </select>
        </div>
        <div class="option">
            <input id="use-audio" checked="checked" type="checkbox"/>
            <label for="use-audio">Use audio</label>
            <select id="audio-codec">
                <option value="default" selected>Default codecs</option>
                <option value="opus/48000/2">Opus</option>
                <option value="PCMU/8000">PCMU</option>
                <option value="PCMA/8000">PCMA</option>
            </select>
        </div>
        <div class="option">
            <input id="use-stun" checked="checked" type="checkbox"/>
            <label for="use-stun">Use STUN server</label>
        </div>
      </div>
    </p>

    <h3>WebRTC Connection State</h3>
    <p>
    WebRTC protocol uses the Interactive Channel Establishment protocol to set up a connection.
    The following three states will populate when you click Start and Moshi tries to establish a session.
    </p>
    <p>
        ICE gathering state: <span id="ice-gathering-state"></span>
    </p>
    <p>
        ICE connection state: <span id="ice-connection-state"></span>
    </p>
    <p>
        Signaling state: <span id="signaling-state"></span>
    </p>

    <h3>WebRTC Connection Description (SDP)</h3>
    <p>
    The Session Description Protocol tells you details about the connection that is or is being established.
    It includes information like which Moshi backend IP address and port you will talk to this session.
    </p>
    <h4>Offer</h4>
    <pre id="offer-sdp"></pre>
    <h4>Answer</h4>
    <pre id="answer-sdp"></pre>


    <script src="client.js"></script>

  </div>  <!-- container div -->

</body>
</html>
