{% extends 'wrapper.html' %}
{% block content %}
<div id="news">
<h1>News</h1>
<p>
  Especially in this early alpha release, Moshi is developing rapidly.
  This page is an attempt to capture some of those updates for curious users.
  Please don't consider this complete or necessarily up to date - I'll do my best to keep you abreast of major changes.
</p>

<ul>
  <li><tt>alpha-23.6.32; June 30, 2023</tt>
    I've introduced more chatty status updates so you should have a better idea of what Moshi is doing.  Moreover, in
    versions earlier than <tt>23.6.31</tt>, Moshi assumed you were in a quiet room, so it thought your air conditioner was
    part of your ongoing speech - it was perhaps too attentive of a listener. Now, however, it dynamically detects
    background noise levels.<br>
    Together, these updates should reduce the sense that Moshi "hangs". Please let me know if it still does!
  </li>
  <li><tt>alpha-23.6.31; June 29, 2023</tt> Tiny logging update to fix a backend error.</li>
  <li><tt>alpha-23.6.30; June 28, 2023</tt> Added news page, updates to logging and CI in the backend in an attempt to make subsequent
  updates less disruptive for users and more transparent for me.</li>
  <li><tt>alpha-23.6.29; June 27, 2023</tt> Added privacy policy</li>
</ul>
{% endblock %}
