<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moshi</title>
    <link rel="stylesheet" href="/style.css">
    <style>
      #nerd-stuff {
        display: none;
      }
    </style>
</head>
<body>

  <div class="top-container">
    <a href="{{ index_url }}"><h1>Moshi</h1></a>
    <p>Moshi is a language speaking tutor.</p>
    <img src="/favicon.ico" alt="Moshi" style="width: 32px;" id="moshiIcon" class="dancing-image">
    {% if error %}
    <br><br>
    <div id="error-message" class="error-container">
      <p class="error">{{ error }}</p>
    </div>
    {% endif %}
  </div>

  <div class="main-container">
    {% block content %}{% endblock %}
  </div>

</body>
</html>
