<!DOCTYPE html>
{% block content %}
<h1 class="title">Moshi</h1>
<h2 class="subtitle">Have a spoken conversation in another language, at your level.</h2>
<hr>
<div id="moshi-container">
Initial text
</div>
<hr>
{% endblock %}

{% block js %}
{# <script type="text/javascript" src="{{ url_for('static', filename='core.js') }}"></script> #}
<script type="text/javascript">
  setInterval(updateNum, 500);
  function updateNum()
  {
    const moshi_container = document.getElementById("moshi-container")
    fetch("http://localhost:5000/num")
    .then((response) => response.json())
    .then(data => {
      console.log('Got num: ' + data);
      moshi_container.textContent = data;
    })
    .catch(error => console.error(error));
  }
  {# moshi_container.textContent = hello('bar') #}
  {# moshi_container.textContent = get_num() #}
</script>
{% endblock %}
