<!DOCTYPE html>

{% block content %}
<h1 class="title">Moshi</h1>
<h2 class="subtitle">Have a spoken conversation in another language, at your level.</h2>
<hr>
<div id="text-stream">
  <h3>Streamed via websockets:</h3>
  <ul id="text-stream-ul">
  </ul>
</div>
<div id="log-stream">
  <h3>Logs:</h3>
  <ul id="log-stream-ul">
  </ul>
</div>
<hr>
{% endblock %}

{% block js %}
<script src="https://cdn.socket.io/4.3.1/socket.io.min.js"></script>
<script src="{{url_for('static', filename='demo_stream.js')}}"></script>
{% endblock %}

