<!DOCTYPE html>
{% block content %}
<h1 class="title">Moshi</h1>
<h2 class="subtitle">Have a spoken conversation in another language, at your level.</h2>
<hr>
<div id="num-c">
No num yet
</div>
<div id="stream-c">
No stream yet
</div>
<hr>
{% endblock %}

{% block js %}

{# <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> #}

<script type="text/javascript">
const evtSource = new EventSource('/stream');
const eventList = document.querySelector("ul");

evtSource.onmessage = (e) => {
  const newElement = document.createElement("li");

  newElement.textContent = `message: ${e.data}`;
  eventList.appendChild(newElement);
};
</script>

<script type="text/javascript">
setInterval(updateNum, 1000);
const numC = document.getElementById("num-c");
numC.textContent = '3';
function updateNum()
{
  fetch("/num")
  .then((response) => response.json())
  .then(data => {
    console.log('Got num: ' + data);
    numC.append(data);
  })
  .catch(error => console.error(error));
}
</script>

{% endblock %}
